<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<link rel="stylesheet" href="picnic.css">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div id="app">
	<strong>Administration</strong>
	<hr>
	<div>
		<table border="0" cellspacing="11" cellpadding="3" style="width:350px">
			<tr>
				<td align="right">SSID:</td>
				<td>
					<input v-model="ssid">
				</td>
			</tr>
			<tr>
				<td align="right">Password:</td>
				<td>
					<input v-model="password">
				</td>
			</tr>
			<tr>
				<td align="right">Brightness:</td>
				<td>
					<select v-model="bright">
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="6">6</option>
						<option value="8">8</option>
						<option value="10">10</option>
					</select>
				</td>
				<input type="hidden" v-model="ticks">
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" style="width:100px" @click="save" class="button" value="Save">
				</td>
			</tr>
		</table>
	</div>
	<hr>
	<a href="/restart" class="button">Restart</a>
	<hr>
</div>

<script>

	var config = {
		bright: 2,
		ssid: "",
		password: "",
		ticks: 0
	};

	var app = new Vue({
		el: '#app',
		data: config,
		created: function () {
			this.loadConfig(/*'http://192.168.1.244/' +*/ "json/config");
		},
		methods: {
			loadConfig: function (url) {
				fetch(url)
					.then(function (resp) {
						return resp.json();
					})
					.then(function (j) {
						//console.log(j);
						config.ssid = j.ssid;
						config.password = j.password;
						config.bright = j.bright;
						config.ticks = j.ticks;
					})
					.catch(function (error) {
						console.log(error);
					})
			},
			save: function () {
				config.ticks = Math.round((new Date()).getTime() / 1000);

				var formData = new FormData();
				formData.append("config", JSON.stringify(this.$data));

				fetch(/*'http://192.168.1.244/' +*/ "json/config", 
				{
					method: "POST",
					dataType: "json",
					body: formData
				})
				.catch(function (error) {console.log(error); })
			},

		}
	});

	// window.onload = function () {
	// 	load("style.css", "css", function () {
	// 		load("microajax.js", "js", function () {
	// 			setValues("/config");
	// 			setTimeout(GetState, 3000);
	// 		});
	// 	});
	// }

	// function load(e, t, n) {
	// 	if ("js" == t) {
	// 		var a = document.createElement("script");
	// 		a.src = e,
	// 			a.type = "text/javascript",
	// 			a.async = !1,
	// 			a.onload = function () {
	// 				n()
	// 			},
	// 			document.getElementsByTagName("head")[0].appendChild(a)
	// 	} else if ("css" == t) {
	// 		var a = document.createElement("link");
	// 		a.href = e,
	// 			a.rel = "stylesheet",
	// 			a.type = "text/css",
	// 			a.async = !1,
	// 			a.onload = function () {
	// 				n()
	// 			},
	// 			document.getElementsByTagName("head")[0].appendChild(a)
	// 	}
	// }
</script>