
body {
	background-color: #222222;
	color: rgb(131, 116, 116);
	font-family: roboto, helvetica, arial, sans-serif;
}

hr {
	background-color: #eee;
	border: 0 none;
	color: #eee;
	height: 1px;
}

.redbox { border:3px solid red; padding: 7px}
.greenbox { border:3px solid green; padding: 7px}
.cyanbox { border:3px solid cyan; padding: 7px}
.bluebox { border:3px solid blue; padding: 7px}
.whitebox { border:3px solid white; padding: 7px}

