<script src="vue.min.js"></script>
<link rel="stylesheet" href="picnic.css">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div id="app">
	<strong>Administration</strong>
	<hr>
	<div>
		<table border="0" cellspacing="11" cellpadding="3" style="width:350px">
			<tr>
				<td align="right">SSID:</td>
				<td>
					<input v-model="config.ssid">
				</td>
			</tr>
			<tr>
				<td align="right">Password:</td>
				<td>
					<input v-model="config.password">
				</td>
			</tr>
			<tr>
				<td align="right">Brightness:</td>
				<td>
					<select v-model="config.bright">
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="6">6</option>
						<option value="8">8</option>
						<option value="10">10</option>
					</select>
				</td>
				<input type="hidden" v-model="config.ticks">
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" style="width:100px" @click="save" class="button" value="Save">
				</td>
			</tr>
		</table>

		<table border="0" cellspacing="11" cellpadding="3" style="width:350px; white-space: nowrap;">
			<theader>
				<th>SSID</th>
				<th>RSSI</th>
				<th>Channel</th>
				<th>Secure</th>
			</theader>
			<tbody>
				<tr v-for="ap in scan">
					<td>{{ ap.ssid }}</td>
					<td>{{ ap.rssi }}</td>
					<td>{{ ap.channel }}</td>
					<td>{{ ap.secure }}</td>
				</tr>
			</tbody>
		</table>

	</div>
	<hr>
	<a href="/restart" class="button">Restart</a>
	<hr>
</div>

<script>
	var config = {
		bright: 2,
		ssid: "",
		password: "",
		ticks: 0
	};

	function getTicks() { //t is the date object to check, returns true if daylight saving time is in effect.
		var t = new Date();
		var ticks = t.getTime() / 1000;

		// check to see if DST is active
		var jan = new Date(t.getFullYear(), 0, 1);
		var jul = new Date(t.getFullYear(), 6, 1);

		if( Math.min(jan.getTimezoneOffset(), jul.getTimezoneOffset()) == t.getTimezoneOffset())
			return ticks + 60 * 60;	// add on a hour

		return ticks; 
	};

	var app = new Vue({
		el: '#app',
		data: {
			config,
			scan: []
		},
		created: function () {
			this.loadConfig();
			this.loadScan();
		},
		methods: {
			loadConfig: function () {
				fetch("json/config")
					.then(function (resp) {
						return resp.json();
					})
					.then(function (j) {
						//console.log(j);
						config.ssid = j.ssid;
						config.password = j.password;
						config.bright = j.bright;
						config.ticks = j.ticks;
					})
					.catch(function (error) {
						console.log(error);
					});
			},
			loadScan: function () {
				fetch("json/scan")
					.then(resp => resp.json())
					.then(json => {
						console.log(json);
						this.scan = json.aps;
					})
					.catch(function (error) {
						console.log(error);
					});
			},
			save: function () {
				config.ticks = getTicks();

				var formData = new FormData();
				formData.append("config", JSON.stringify(this.$data.config));

				fetch( /*'http://192.168.1.244/' +*/ "json/config", {
						method: "POST",
						dataType: "json",
						body: formData
					})
					.catch(function (error) {
						console.log(error);
					});
			},

		}
	});

	// window.onload = function () {
	// 	load("style.css", "css", function () {
	// 		load("microajax.js", "js", function () {
	// 			setValues("/config");
	// 			setTimeout(GetState, 3000);
	// 		});
	// 	});
	// }

	// function load(e, t, n) {
	// 	if ("js" == t) {
	// 		var a = document.createElement("script");
	// 		a.src = e,
	// 			a.type = "text/javascript",
	// 			a.async = !1,
	// 			a.onload = function () {
	// 				n()
	// 			},
	// 			document.getElementsByTagName("head")[0].appendChild(a)
	// 	} else if ("css" == t) {
	// 		var a = document.createElement("link");
	// 		a.href = e,
	// 			a.rel = "stylesheet",
	// 			a.type = "text/css",
	// 			a.async = !1,
	// 			a.onload = function () {
	// 				n()
	// 			},
	// 			document.getElementsByTagName("head")[0].appendChild(a)
	// 	}
	// }
</script>