<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<link rel="stylesheet" href="picnic.css">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div id="ctrlvm">
	<a href="edit.html" class="button"><</a>
	<strong>Activity Control</strong>
	<hr>
	<my-component id="act1" caption="Activity 1:" boxclass="redbox"></my-component>
	<my-component id="act2" caption="Activity 2:" boxclass="greenbox"></my-component>
	<my-component id="act3" caption="Activity 3:" boxclass="bluebox"></my-component>
	<my-component id="act4" caption="Activity 4:" boxclass="whitebox"></my-component>

	<br>
	<div v-if="showme()">
		<a :href="getURL('start-all')" class="button">Start All</a>
		<a :href="getURL('pause-all')" class="button">Pause All</a>
		<a :href="getURL('reset-all')" class="button">Reset All</a>
	</div>
	<hr>
</div>

<script>
	// define
	var MyComponent = Vue.extend({
		props: ['caption', 'boxclass', 'id'],
		template: `<div v-if="showme()">
		  <span :class="boxclass"><strong>{{ caption }}</strong></span>
		  <button class="button" @click="start">Start / Pause</button>
		  <button class="button" @click="reset">Reset</button>
		  <br>
		  </div>`,
		methods: {
			showme: function () {
				return schedule[this.id] != "";
			},
			start: function () {
				fetch(/*'http://192.168.1.244/' +*/ "startpause-"+this.id).then(resp => {});
			},
			reset: function () {
				fetch(/*'http://192.168.1.244/' +*/ "reset-"+this.id).then(resp => {});
			}
		}
	})

	// register
	Vue.component('my-component', MyComponent)

	var schedule = {
			intro: "",
			act1: "",
			act2: "",
			act3: "",
			act4: ""
		};

	var ctrlvm = new Vue({
		el: '#ctrlvm',
		data: schedule,
		created: function () {
			this.loadSchedule(/*'http://192.168.1.244/' +*/ "json/load");
		},
		methods: {
			getURL: function(url) { return /*'http://192.168.1.244/' +*/ url; },

			showme: function () { return ((schedule.act1 != "") + (schedule.act2 != "") + (schedule.act3 != "") + (schedule.act4 != "")) > 1; },

			loadSchedule: function (url) {
				fetch(url)
					.then(function (resp) {
						return resp.json();
					})
					.then(function (j) {
						//console.log(j);
						schedule.intro = j.intro.trim();
						schedule.act1 = j.act1.trim();
						schedule.act2 = j.act2.trim();
						schedule.act3 = j.act3.trim();
						schedule.act4 = j.act4.trim();
					})
					.catch(function (error) {
						console.log(error);
					})
			},
		}
	});
</script>